<div class="px-4 my-16">
  <h1 class="text-4xl font-bold text-darkest">Trips</h1>

  <div id="trips" class="flex flex-row flex-wrap space-x-12 space-around" phx-update="stream">
    <.trip_card :for={{id, packing_list} <- @streams.packing_lists} trip={packing_list} id={id} />
  </div>
</div>
