<.header>
  New Packing list
  <:subtitle>Use this form to manage packing_list records in your database.</:subtitle>
</.header>

<.packing_list_form changeset={@changeset} action={~p"/packing_lists"} />

<.back navigate={~p"/packing_lists"}>Back to packing_lists</.back>
